extends ../layout

block head
  link(rel='stylesheet', href='/css/admin/quizz.css')
block body
  #main.row
    nav.col-xs-2
      .title
        h2 Menu
      form.form-inline.pull-xs-right
        input.form-control(type='text', placeholder='Rechercher')
      ul
       li.add-quizz.navbar-item
          p Add Quizz !
       li.waiting.navbar-item
          p Waiting Quizzs ...
       li.todo.navbar-item
          p Todo Quizzs
       li.done.navbar-item
          p Done Quizzs
    section#display.col-xs-10
      header.row
        h1.col-xs-12= title
      section#add-quizz.row
        input#quizz-name.col-xs-12(type='text', placeholder='Quizz Name')
        .col-xs-12
          h3 Questions : 
        #previous-question.col-xs-1 <
        #question-container.col-xs-10
          #tmp-question
            .question
              input.col-xs-12(type='text', placeholder='Question')
              input.col-xs-12(type='text', placeholder='Image URL')
              .image.col-xs-12
              .row.proposition-container
                .col-xs-10
                  input.col-xs-12.proposition(type='text', placeholder='proposition')
                .col-xs-2
                  button.btn.add add
                .col-xs-12.proposition-list
        #next-question.col-xs-1 +
        #question-counter 1 / 1
block scripts
  script(src='/js/admin/quizz.js')