header {
  margin-top: 0 !important;
  background: #555;
}

header > h1, .title > h2 {
  text-align: center;
  color: #000;
  margin: 0;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}

#main {
  height: 100%;
}

#main > nav {
  height: 100%;
  border-right: 1px solid black;
  background: #AAA;
  text-align: center;
  padding: 0 !important;
}

nav > form {
  margin-top: 40px;
  margin-bottom: 30px;
}

nav > form > input {
  text-align: center;
  width: 100% !important;
  border-radius: 0 !important;
  height: 50px !important;
  font-size: 20px !important;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li.navbar-item {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  border-bottom: 1px solid #888;
}
nav > ul > li.navbar-item:first-child {
  border-top: 1px solid #888;
}
nav > ul > li.navbar-item:hover {
  background: #888;
}

nav > ul > li.navbar-item > p {
  margin: 0;
}
