/* --- Override bootstrap --- */
.proposition-button.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

/* ---- Just for this page --- */

.add-quizz:first-child {
  background: #4b6673;
}

/* -------------------------- */

header {
  margin-top: 0 !important;
  background: #80cbc4;
}

header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #e9ffff;
}

.title > h2 {
  text-align: center;
  color: #fefffd;
  margin: 0;
  height: 60px;
  line-height: 60px;
  font-size: 50px;
}

#main {
  height: 100%;
}

#main > nav {
  height: 100%;
  border-right: 1px solid black;
  background: #273238;
  color: #fefffd;
  text-align: center;
  padding: 0 !important;
}

nav > .title {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > form {
  margin-top: 0px;
  margin-bottom: 70px;
}

nav > form > input {
  text-align: center;
  width: 100% !important;
  border-radius: 0 !important;
  height: 50px !important;
  font-size: 20px !important;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li.navbar-item {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  border-bottom: 1px solid #fefffd;
}
nav > ul > li.navbar-item:first-child {
  border-top: 1px solid #fefffd;
}
nav > ul > li.navbar-item:hover {
  background: #36474f;
}

nav > ul > li.navbar-item > p {
  margin: 0;
}


/* ADD QUIZZ */

#add-quizz {
  margin: 10px;
  margin-top: 70px;
  width: 70%;
  margin-left: 15%;
}

#add-quizz h3 {
  text-align: center;
  margin-bottom: 25px;
}

#question-container {
  padding: 10px;
  overflow: hidden;
  height: 500px;
  padding-top: 20px;
}

.proposition-container {
  margin: 0 !important;
}

.proposition-container > div {
  padding: 0;
}

#add-quizz .btn.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proposition-list {
  height: 320px;
  overflow-y: scroll;
  margin-top: 25px;
  padding-bottom: 40px;
}

.proposition-list > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#previous-question, #next-question {
  height: 500px;
  padding: 20px;
  background: transparent;
  border: 1px solid #aab9c0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}

#tmp-question {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.question {
  float: left;
  width: calc(100% - 100px);
  margin-right: 50px;
  margin-left: 50px;
}

.question input, .question button {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.question button {
  margin-left: 25px;
  width: calc(100% - 20px);
}

#question-counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 30px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px #aab9c0 solid;
  padding-bottom: 10px;
  color: #aab9c0;
  font-size: 22px;
}

#quizz-name {
  text-align: center;
  margin-bottom: 50px;
}

.proposition-container button {
  width: calc(100% - 20px);
  border: 1px solid #aab9c0;
  background: transparent;
  padding: 7px;
  font-size: 20px;
  color: #aab9c0;
}

.proposition-button {
  display: flex;
  width: 100%;
  max-height: 100px;
  white-space: normal;
  overflow: auto;
}

.proposition-button + .btn-danger {
  width: 50px;
}

.question > .close-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  float: right;
  color: #FFF;
  background: #273238;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
}

.question > .close-button:hover {
  color: #F00;
  background: #36474f;
}


#validate {
  margin-top: 20px;
}


/*
 * scrollbar for chrome
 */

.question ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.question ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.question ::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.question ::-webkit-scrollbar-thumb:hover {
  background: #273238;
}
.question ::-webkit-scrollbar-thumb:active {
  background: #273238;
}
.question ::-webkit-scrollbar-track {
  background: #aab9c0
  border: 0px none #ffffff;
  border-radius: 50px;
}
.question ::-webkit-scrollbar-track:hover {
  background: transparent;
}
.question ::-webkit-scrollbar-track:active {
  background: transparent;
}
.question ::-webkit-scrollbar-corner {
  background: transparent;
}










/* ---------------- Quizz List ---------------- */



#list-quizz {
  margin-top: 20px;
  padding: 50px;
}

#list-quizz-ul {
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
}

#list-quizz-titles {
  width: calc(100% - 10px);
  height: 50px;
  margin: 0;
  margin-left: 6px;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  list-style: none;
  font-size: 20px;
  text-align: center;
  background: #80cbc4;
  color: #FFF;
}

#list-quizz-titles > li > div > div {
  border-right: 1px solid #FFF;  
}
#list-quizz-titles > li > div > div:last-child {
  border-right: none;
}

.show-quizz > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  font-size: 17px;
}

.show-quizz > ul > li {
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
}
.show-quizz > ul > li:hover {
  border: 1px solid #FFF;
}

.quizzList-item {
  height: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid #80cbc4;
}

.quizzList-item > div > div {
  border-right: 1px solid #80cbc4;
}
.quizzList-item > div > div:last-child {
  border-right: none;
}

.quizzList-item:nth-child(odd) {
}


.quizzList-item-edit, .quizzList-item-state {
  padding: 0;
}

.delete {
  height: 100%;
  float: right;
  width: 60px;
  transition: 0.4s;
}
.delete:hover {
  background: #f39b9b;
}

.quizzList-item-state, .quizzList-item-edit {
  cursor: pointer;
  transition: 0.4s;
}
.quizzList-item-state:hover, .quizzList-item-edit:hover {
  background: #d5f3f0;
}


#tmpSelectState {
  width: 100%;
  height: 47px;
  background: #d5f3f0;
  border: none;
  text-align-last: center;
}
